@model IEnumerable<Skart.Entities.KardexItem>

@{
    ViewBag.Title = "Kardex de Movimientos";
}

<h2>Kardex de Movimientos por Producto</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Fecha)</th>
            <th>@Html.DisplayNameFor(m => m.First().TipoMovimiento)</th>
            <th>@Html.DisplayNameFor(m => m.First().Cantidad)</th>
            <th>@Html.DisplayNameFor(m => m.First().Referencia)</th>
            <th>@Html.DisplayNameFor(m => m.First().Saldo)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoMovimiento)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.Referencia)</td>
                <td>@Html.DisplayFor(modelItem => item.Saldo)</td>
            </tr>
        }
    </tbody>
</table>